# Sample queries
A startup called Sparkify wants to analyze the data they've been 
collecting on songs and user activity on their new music streaming app. 
The analytics team is particularly interested in understanding what 
songs users are listening to.

|query|explanation|
|-|-|
|top ten users|top ten listeners by song counts|
|top ten locales|top ten cities by song counts|
|top ten user agents|top ten user agents by song counts|

In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [3]:
# top ten users
%sql select user_id, count(*) num_songplays \
from songplays \
group by 1 order by 2 desc \
limit 10;

 * postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[(49, 2067),
 (80, 2001),
 (97, 1671),
 (15, 1395),
 (44, 1191),
 (29, 1038),
 (24, 969),
 (73, 867),
 (88, 810),
 (36, 744)]

In [4]:
# top ten cities
%sql select location as city, count(*) num_songplays\
from songplays \
group by 1 order by 2 desc \
limit 10;

 * postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[('San Francisco-Oakland-Hayward, CA', 2073),
 ('Portland-South Portland, ME', 2001),
 ('Lansing-East Lansing, MI', 1671),
 ('Chicago-Naperville-Elgin, IL-IN-WI', 1431),
 ('Atlanta-Sandy Springs-Roswell, GA', 1368),
 ('Waterloo-Cedar Falls, IA', 1191),
 ('Lake Havasu City-Kingman, AZ', 969),
 ('Tampa-St. Petersburg-Clearwater, FL', 921),
 ('San Jose-Sunnyvale-Santa Clara, CA', 876),
 ('Sacramento--Roseville--Arden-Arcade, CA', 810)]

In [5]:
# top ten user agents
%sql select user_agent, count(*) num_songplays\
from songplays \
group by 1 order by 2 desc \
limit 10;

 * postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[('"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 2919),
 ('"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 2124),
 ('Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', 2088),
 ('"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 1737),
 ('"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 1719),
 ('Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 1329),
 ('"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 1281),
 ('"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 1263),
 ('"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 963),
 ('Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', 930)]